<%- include('partials/header') %>

<main>
  <div class="movie-details">
    <h1><%= movie.name %></h1>

    <p><strong>Description:</strong> <%= movie.description %></p>
    <p><strong>Year:</strong> <%= movie.year %></p>
    <p><strong>Genres:</strong> <%= movie.genres.join(", ") %></p>
    <p><strong>Rating:</strong> <%= movie.rating %>/10</p>

    <hr>

    <% if (currentUser && currentUser._id == movie.createdBy.toString()) { %>
      <a href="/movies/edit/<%= movie._id %>" class="btn btn-primary">Edit Movie</a>

      <form action="/movies/delete/<%= movie._id %>" method="POST" style="margin-top: 10px;">
        <button class="btn btn-danger">Delete Movie</button>
      </form>
    <% } %>

    <a href="/movies" style="display:block; margin-top:18px;">← Back to Movies</a>
  </div>
</main>

<%- include('partials/footer') %>