<%- include('partials/header') %>

<main>
  <div class="movie-details">
    <h1><%= movie.name %></h1>

    <p><strong>Description:</strong> <%= movie.description %></p>
    <p><strong>Year:</strong> <%= movie.year %></p>
    <p><strong>Genres:</strong> <%= movie.genres %></p>
    <p><strong>Rating:</strong> <%= movie.rating %>/10</p>

    <br>
    <a class="btn btn-primary" href="/movies">Back</a>
  </div>
</main>

<%- include('partials/footer') %>